@font-face {
  font-family: "Ubuntu Mono";
  src: url("./UbuntuMono-Regular.ttf");
}

body {
  background-color: #ffffff5b;
  color: #fdfdfd;
  font-family: "Ubuntu Mono", monospace;
  align-content: center;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 3em;
  font-family: "Ubuntu Mono", monospace !important;
}
h3 {
  color: #000000;
  text-align: center;
  font-family: "Ubuntu Mono", monospace !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .form-container,
  .advises-container {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    max-width: 50%;
    vertical-align: top;
  }
}

.form-container,
.advises-container {
  position: sticky;
  top: 0;
  width: 80%;
  margin: 2%;
  background-color: #f7f7f7;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.carbon {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  font-family: "Fira Code", monospace;
  overflow: hidden;
  background-color: #f1f1f1;
}

.carbon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #2d8359;
}

.carbon-title {
  font-size: 1.5rem;
  font-family: "Ubuntu Mono", monospace !important;
}

.carbon-actions {
  display: flex;
  font-family: "Ubuntu Mono", monospace !important;
}

.carbon-action {
  margin-left: 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: "Ubuntu Mono", monospace !important;
}

.carbon-action:hover {
  background-color: #e6e6e6;
}

.carbon-input-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  font-family: "Ubuntu Mono", monospace !important;
}

.carbon-input {
  width: 90%;
  height: fit-content;
  border: none;
  padding: 1rem;
  margin: auto;
  font-size: 14px;
  resize: none;
  display: block;
  border: none;
  font-family: "Ubuntu Mono", monospace !important;
}

.CodeMirror {
  height: auto !important;
}

.CodeMirror-line {
  font-family: "Ubuntu Mono", monospace !important;
}

.CodeMirror-scroll {
  overflow: hidden !important;
}

.carbon-gpt-input {
  width: 90%;
  border: none;
  padding: 1rem;
  margin: auto;
  font-size: 14px;
  resize: none;
  display: block;
  border: none;
}
